#home-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.desktop-homepage {
    display: flex;
    height: 100vh;
}

.desktop-practice-board {
    background-color: rgb(163, 236, 163);
    width: calc(var(--boardDimension) + 40px);
    height: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.desktop-play-options {
    background-color: rgb(168, 158, 158);
    width: var(--playOptionsWidth);
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}



.phone-homepage {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 960px) {
    .desktop-practice-board {
        display: none;
    }

    .desktop-play-options {
        display: block;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}