.play-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(72, 68, 62);
    z-index: 100;
    height: 100%;
}

.play-options-header {
    padding: 20px;
}

.play-options-container h1 {
    color: white;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 7.5vw;
    font-weight: bolder;
}

.play-options-logo {
    width: 20%;
}

.play-options-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}