.play-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkScreen);
    z-index: 100;
    height: 100%;
}

.play-options-header {
    padding: 20px;
}

.play-options-container h1 {
    color: white;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-size: 7.5vw;
    font-weight: bolder;
}

.play-options-logo {
    width: 20%;
}

.play-options-form{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-options-form button{
    margin: 10px;
    width: calc(100% - 40px);
}

.play-options-form button.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.option {
    background-color: var(--superDarkScreen);
}

button.start-game {
    background-color: var(--lightGreen);
    margin-bottom: 20px;
}


.timeControl-icon {
    margin: 0 20px;
}

.timeControl-icon.hidden {
    pointer-events: none;
    visibility: hidden;
}

.inner-option-button {
    display: flex;
    align-items: center;
}
