.play-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(72, 68, 62);
    z-index: 100;
    height: 100%;
}

.play-options-logo {
    width: 10%;
}

.play-options-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}