#match-room-desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--desktopBackground);
}

.desktop-game {
    display: flex;
    padding: 40px;
}

.match-container{
    width: calc(var(--boardDimension) + 40px);
    background-color: azure;
}

.desktop-board {
    width: calc(var(--boardDimension) + 40px);
    /* height: auto; */
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.desktop-play-options {
    width: var(--playOptionsWidth);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-width: 400px;
}

/* @media (max-width: 960px) {
    .desktop-board {
        display: none;
    }

    .desktop-play-options {
        display: block;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
} */


