.is-preload .chess-board {
    background-color: #cccc;
}

#game {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-board {
    /* Set base size of the chess board */
    width: 70vw;
    height: 70vh;
    /* Ensure board doesn't exceed the viewport width */
    max-width: 70vh;
    max-height: 70vw;

    background-color: aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
}

@media (max-width: 1000px) {
    .chess-board {
        width: 90vw;
        height: 90vw;
        max-width: 90vh;
        max-height: 90vh;
    }
}