.select-time-modal {
    position: fixed;
    width: 100vw;
    height: 95vh;
    top: 100vh; /* Initial off-screen position */
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: rgb(83, 83, 83);
    z-index: 200;
    border-radius: 20px;
}

.select-time-modal.active {
    top: 5%;
    opacity: 1;
}

.STM-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 52, 52);
    color: rgba(255, 255, 255, 0.559);
}

.exit-cross {
    width: 7.5vw;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross-icon {
    font-weight: 900;
    font-size: larger;
    /* stroke-width: 0.4em; */
    stroke: blue !important;
    fill: blue !important;
}

.exit-cross:hover {
    cursor: pointer;
}

.STM-body {
    padding: 10px;
}

.STM-section h2{
    margin: 10px;
}
.time-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-category .button{
    margin: 0 10px;
}

.time-category .button.hidden{
    /* display: none; */
    visibility: hidden;
    pointer-events: none;
}