.select-time-modal {
    position: fixed;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: rgb(83, 83, 83);
    z-index: 20;
    border-radius: 20px;
}

.STM-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 52, 52);
    color: rgba(255, 255, 255, 0.559);
}

.exit-cross {
    width: 7.5vw;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-cross .invisible{
    display: none;
}