.select-time-modal {
    position: fixed;
    width: 100vw;
    height: 95vh;
    top: 100vh; /* Initial off-screen position */
    /* opacity: 0; */
    transition: top 0.3s ease-in-out;
    background-color: var(--darkScreen);
    color: var(--textColor);
    z-index: 200;
    border-radius: 20px;
}

.select-time-modal.active {
    top: 5%;
    /* opacity: 1; */
    transition: top 0.3s ease-in-out;
}

.STM-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--superDarkScreen);
    color: rgba(255, 255, 255, 0.559);
    font-size: 4vh;
}

.exit-cross {
    width: 7.5vw;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross-icon {
    font-weight: 900;
    font-size: larger;
    /* stroke-width: 0.4em; */
    stroke: blue !important;
    fill: blue !important;
}

.exit-cross:hover {
    cursor: pointer;
}

.STM-body {
    padding: 10px;
}

.STM-section h2{
    margin: 15px 10px;
    display: flex;
    align-items: center;
    font-size: 3vh;
}

.STM-icon {
    margin-right: 10px;
}
.STM-icon.bullet {
    color: #A48A43;
}
.STM-icon.blitz {
    color: #FFCC01;
}
.STM-icon.rapid {
    color: #739851;
}
.STM-icon.long {
    color: #b64f1b;
}

.time-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-category button{
    margin: 10px 10px;
    
}

.time-category button.hidden{
    /* display: none; */
    visibility: hidden;
    pointer-events: none;
}