.chess-piece {
    /* width: 65%; */
    height: auto; 
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
    z-index: 11;
}

.chess-piece.pawn{
    height: var(--pawnHeight);
    width: auto;
}
.chess-piece.knight{
    height: var(--knightHeight);
    width: auto;
}
.chess-piece.rook{
    height: var(--rookHeight);
    width: auto;
}
.chess-piece.bishop{
    height: var(--bishopHeight);
    width: auto;
}
.chess-piece.king{
    height: var(--kingHeight);
    width: auto;
}
.chess-piece.queen{
    height: var(--queenHeight);
    width: auto;
}