.chess-piece {
    height: auto; 
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: grab;
    z-index: 11;
}

.chess-board.non-desktop .chess-piece {
    width: var(--phonePieceWidth);
}
.chess-board.desktop .chess-piece {
    width: var(--pieceWidth);
}
