.chess-board {
    /* width: 70vw;
    height: 70vh;
    max-width: 70vh;
    max-height: 70vw; */

    position: relative;

    width: var(--boardDimension);
    height: var(--boardDimension);

    background-color: aquamarine;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    border-radius: calc(0.01 * var(--boardDimension));;
    /* padding: calc(0.01 * var(--boardDimension)); */
    overflow: hidden;
}

.board-row{
    height: calc(100% / 8);
    width: 100%;
    display: flex;
}
