.chess-board {
    position: relative;
    width: var(--boardDimension);
    height: var(--boardDimension);

    /* max-width: var(--maxBoardDim);
    max-height: var(--maxBoardDim); */

    /* aspect-ratio: 1 / 1; */

    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: calc(0.01 * var(--boardDimension));
    overflow: hidden;
}

.chess-board.non-desktop {
    width: calc(min(100vw,100vh));
    height: calc(min(100vw,100vh));
    border-radius: calc(0.01 * min(100vw,100vh));
    border-radius: 0;
}

.board-row{
    height: calc(100% / 8);
    width: 100%;
    display: flex;
}

.board-square{
    height: 100%;
    width: calc(100% / 8);
    position: relative;
}

.board-square.touchHighlight {
    filter: brightness(1.3); 
    z-index: 3;
}

.board-square.touchHighlight::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + var(--touchCircleOffset));
    height: calc(100% + var(--touchCircleOffset));
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    pointer-events: none;
}

.board-square.highlight {
    outline: var(--highlightWidth) solid rgba(255, 255, 255, 0.7);
    outline-offset: calc(-0.99 * var(--highlightWidth));
}

.board-square.selected{
    filter: brightness(1.3); 
}


.square-label{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--boardLabel);
    font-weight: 500;
    padding: calc(0.007 * var(--boardDimension));
    pointer-events: none;
}

/* ! DESKTOP CHESS BOARD STYLES */
.chess-board.desktop .board-square.brown {
    background-color: var(--brownSquare);
}
.chess-board.desktop .board-square.white {
    background-color: var(--whiteSquare);
}
.chess-board.desktop .board-square.white .square-label{
    color: var(--brownSquare);
}
.chess-board.desktop .board-square.brown .square-label{
    color: var(--whiteSquare);
}

/* ! DESKTOP CHESS BOARD STYLES */
.chess-board.non-desktop .board-square.brown {
    background-color: var(--greenSquare);
}
.chess-board.non-desktop .board-square.white {
    background-color: var(--whiteSquarePhone);
}
.chess-board.non-desktop .board-square.white .square-label{
    color: var(--greenSquare);
}
.chess-board.non-desktop .board-square.brown .square-label{
    color: var(--whiteSquarePhone);
}

.square-label.file {
    bottom: 0;
    right: 0;
}

.square-label.rank {
    top: 0;
    left: 0;
}

.suggested-square {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 30%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
    z-index: 11;
    pointer-events: none;
}

.suggested-capture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    outline: var(--suggestedCaptureThickness) solid rgba(0,0,0,0.1);
    z-index: 11;
    pointer-events: none;
}
