:root {
    --brown: #744D2A;
    --white: #CEB07E;
}

.is-preload .chess-board {
    background-color: #cccc;
}

#game {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .chess-board {
        width: 90vw;
        height: 90vw;
        max-width: 90vh;
        max-height: 90vh;
    }
}