.chess-piece.dragging {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    /* pointer-events: none; */
    /* cursor: grabbing; */
    width: var(--pieceWidth);
    height: auto; 
}

.chess-piece.enlarged.touchHighlight {
    transform: translateY(-100%) translateX(-50%);
    width: var(--touchMovePieceWidth);
    height: auto; 
}

.chess-piece:active {
    cursor: grabbing;
}

.chess-piece.pawn{
    height: var(--pawnHeight);
    width: auto;
}
.chess-piece.rook{
    height: var(--rookHeight);
    width: auto;
}
.chess-piece.king{
    height: var(--kingHeight);
    width: auto;
}
/* .chess-piece.rook{
    height: var(--rookHeight);
    width: auto;
}
.chess-piece.knight{
    height: var(--knightHeight);
    width: auto;
}
.chess-piece.bishop{
    height: var(--bishopHeight);
    width: auto;
}
.chess-piece.king{
    height: var(--kingHeight);
    width: auto;
}
.chess-piece.queen{
    height: var(--queenHeight);
    width: auto;
} */