.chess-piece.dragging {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    height: auto; 
}

/* non desktop just started dragging */
.chess-piece.dragging.non-desktop {
    width: var(--phonePieceWidth);
}
/* non desktop dragging over board */
.chess-piece.enlarged.touchHighlight {
    width: var(--touchMovePieceWidth);
    transform: translateY(-100%) translateX(-50%)
}

/* non desktop dragging */
.chess-piece.dragging.desktop  {
    width: var(--pieceWidth);
}

.chess-piece:active {
    cursor: grabbing;
}